*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:sans-serif;
  /* list-style: none; */
  
}

body{
  background-color: #ffffff;
  color: #fdba00;
  text-decoration: none;
  font-family: sans-serif;
}


header{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 30px;
  background-color: #be6900;
  border: #977448 20px solid;
  border-radius:  40px  0 40px 0;
}



header .navbar{
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .links{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
}

.navbar .links li a{
  color: #fff;
  font-weight: 900;
  text-decoration: none;
  transition: 1s ease;
}

.navbar .links li a:hover {
  border:chocolate 5px  solid;
  padding: 8px 15px;
  border-radius: 40px;
  transition: 1s;
  background-color: coral;
}

.navbar .links .join-btn a:hover{
  color:burlywood;
  border: transparent;
  background-color: cornsilk;
}



.hero-section{
  height: 100vh;
  background: url("./assets/cuppas.webp");
  background-position: left;
  position: relative;
  display: flex;
  padding:  20px;
  align-items: center;
}



.hero-notes{
  height: 100vh;
  background: url("./assets/bda03702aefb810633924d2a469ba5f4.png");
  background-position: left;
  background-size: cover;
  position: relative;
  display: flex;
  padding:  20px;
  align-items: center; 
  margin: 10px;
}

.links-btn {
  padding: 85px;
  display: flex;
  border-left: 10px inset coral;
  border-top: 10px inset coral;
  border-right: 10px outset #2b1a00;
  border-bottom: 10px outset #2b1a00;
  border-radius: 10px;
  background-color:burlywood;
  color: chocolate;
  /* text-align: center; */
  justify-content: center; 

}

.large{
  display: flex;
  justify-content: center;
  font-size: 70px;
  color: #2b1a00;
}

.btn-link{
  border: 10px groove color-mix(in lab, coral 50%, burlywood 25%);
  border-radius: 10px;
  border-width: 20px;
  height: 10vh;
  display: block;
  justify-content: center;
  cursor: pointer;
}

.btn-link a{
  border-radius: 10px;
  color: white;
  outline: none;
  text-decoration: none;
}


.hero-sips{
  height: 100vh;
  background: url("./assets/our notes.jpg");
  background-position: left;
  position: relative;
  display: flex;
  padding:  20px;
  align-items: center;
}

.hero-sips h1{
  /* border: red solid 10px;
  font-size: 70px; */
  color: white;
}

.hero-sips ul{
  border: solid red 10px;
  color: white;
  border-radius: 0px 100px 100px 0px;
  
}

.hero-section .content{
  max-width: 1280px;
  margin: 0 auto 40px;
  width: 100%;
}

.hero-section .content h1{
  color:goldenrod;
  font-size: 3rem;
  max-width: 630px;
  margin-top: 30px;
}

.hero-section .search-form input{
  height: 5.8vh;
  width: 500px;
  border: none;
  outline: none;
  padding: 0 15px;
  font-size: 1rem;
  border-radius: 4px 0 0 4px;
}

.hero-section .notes{
  margin-top: 25px;
  background-color: #493628;
  border: transparent;
  border-radius: 10px;
}

@media  (max-width:1200px) {
  .hero-section{
    width: 1025px;
    display: flex;
    justify-content: center;
    height: 100vh;
    font-size: 15px;
    /* background-size: contain; */
  }

  .hero-notes{
    /* margin: 0; */
    width: 1025px;
    justify-content: center;
    height: 190vh;
    font-size: 15px;
  }

  .links-btn{
    width: 590px;
  }
}

/* @media (max-width:1050px){
  .hero-section{
    display: flex;
    width: 1000px;
  }
} */